<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PalmDetector{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/flowbite.min.js') }}"></script>
</body>

</html>