{% extends "base.html" %}
{% block title %}Lupa Sandi - PalmDetector{% endblock %}

{% block content %}
{% include "header.html" %}

<div class="min-h-screen flex justify-center items-center p-4">
    <div class="bg-white rounded-xl shadow-md p-8 w-full max-w-sm">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Lupa Kata Sandi</h2>

        <form action="{{ url_for('auth_bp.forgot_password_page') }}" method="POST" class="space-y-4">
            <div>
                <input type="email" name="email" placeholder="Email Anda"
                    class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-2 focus:ring-green-500 focus:outline-none">
            </div>
            <button type="submit" class="w-full bg-green-700 hover:bg-green-800 text-white py-2 rounded-lg transition">
                Kirim Tautan Reset
            </button>
        </form>

        <p class="text-sm text-center text-gray-600 mt-4">
            Ingat kata sandi?
            <a href="{{ url_for('auth_bp.login_page') }}" class="text-green-700 font-medium hover:underline">Masuk
                disini</a>
        </p>
    </div>
</div>
{% endblock %}